*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #272727;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right , rgba(255, 255, 255, 0.904) , #ffffff);
    }
.head{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 20px;
    border-style:solid ;
    height: 70px;
    margin-bottom: 30px;

    & .logo{
    padding: 20px;
    margin-left:5px ;
    & a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    animation: a1 3s ease-in-out .5s infinite normal both;
    transition: .5s;
    
    & i{
        color: white;
        font-size: 15px;
     }
     & span{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        letter-spacing: 3px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }     
    }
& p{
        font-size: 15px;
        text-transform: uppercase;
        background-image:linear-gradient(to right , rgba(233, 228, 228, 0.877) , white) ;
       letter-spacing: 4px;
       margin-left:25px ;
}
} 
}
 header:hover{
         background-image: linear-gradient(to right , #c5cee4f8  ,white);
    }
.cart a:hover , .signin a:hover, .regt a:hover, .content button:hover{
    color: black;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.637), rgba(128, 128, 128, 0.671));
    scale: .9;
}


@keyframes a1 {
        0%{
            translate: 30px 0;}
        50%{
             translate: -10px 0; }
        100%{
             translate : 30px 0;}
        }

.nav{
    margin-right: 25px;
    height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
    padding: 20px;
   list-style: none;

   & .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    & a{
    background-color: #9d9decf3;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    height: fit-content;
    padding: 3px;
    width: 100px;   
    }
   }
         
    & a i{
        font-size: 15px;
    }
    & span{
        font-size: 15px;
    }
    & p{
        width: 18px;
        height: 18px;
        background-color: red;
        border-radius: 50%;
        font-size: 14px;
        text-align: center;
        position: absolute;
        bottom: 23px;
        right: 0;
        color: white;
    }
   
   & .signin a{
    background-color: #7b7b7e10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(0, 0, 0, 0.966);
    border-radius: 20px;
    height: fit-content;
    padding: 3px;
    width: 100px;
    text-decoration: none;
    & i{
        font-size: 15px;
    }
    & span{
        font-size: 15px;
        font-weight: 600;
    }
    
   }
& .regt a{
    background-color: #7b7b7e10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(0, 0, 0, 0.932);
    border-radius: 20px;
    height: fit-content;
    padding: 3px;
    width: 100px;
    text-decoration: none;
    & i{
        font-size: 15px;
    }
    & span{
        font-size: 15px;
        font-weight: 600;
    }   
   }  
}
.min-content{
    width: 100%;
    transition: .5s;
    & :hover{
        scale: .97;
    }
    
    
    & .proudct1 , .proudct2, .proudct3{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        box-shadow: rgba(128, 128, 128, 0.541) 0px 3px 0px 0px ;
        margin: auto;
        border-top: 2px solid blue;
        margin-bottom: 20px;
       
        }
    & .plus{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    & i{
        color: rgba(255, 0, 0, 0.788);
        font-size: 20px;
    }
    & span{

        font-weight: 700;
        font-size: 17px;
    }
    & .plus{
        color: rgba(0, 0, 255, 0.712);
        font-size: 18px;
        font-weight: 400;
        & .decrease{
            color: rgba(0, 0, 255, 0.712);
            border: none;
            font-size: larger;
            font-weight: bold;
            
        }
        & .increase{
            color: rgba(0, 0, 255, 0.712);
            border: none;
            font-size: larger;
            font-weight: bold;            
        }
        & .quntety{
            background-color: rgba(0, 0, 255, 0.795);
            width: 25px;
            height: 25px;
            color: white;
            border-radius: 50%;
            text-align: center;           
       }
    } 
    & p{
        font-size: large;
        font-weight: 700;
        letter-spacing: .5px;
        text-transform: capitalize;
    }
    & a img{
        margin-top: 5px;
        width: 60px;
    }
    }



.chet{
    margin: auto;
}
.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.664);
    color: white;
    border:.5px solid rgba(255, 0, 0, 0.705);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    & i{
        font-size: large;
        color: #ffffff;
    }
    & span{
        font-size: large;
        font-weight: 600;
    }   
}
.border{
    width: 300px;
    text-align: center;
    background-color: white;
    margin: auto;
    line-height: 35px;
    & .p1{
        font-size: x-large;
        font-weight: 500;
        text-transform: capitalize;
        border-bottom: 2px solid rgba(128, 128, 128, 0.356);   
    }
    & .price{
        display: flex;
        justify-content: space-between;
        font-size: larger;
        text-transform: capitalize;
        margin-inline: 10px;
        

    }
    & button{
        width: 100%;
        background-color: rgba(0, 0, 255, 0.774);
        color: white;
        font-size:20px;
        opacity: .9;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid wheat;
        transition: 1s;
    }
    & input{
        border: none;
        font-size: large;
        letter-spacing: 1px;
        color: rgba(255, 0, 0, 0.815);
        
    }

    @media (min-width:450px) and (max-width:600px){
    .logo{
        display: none;
    }
    .nav{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;        
    }
    .min-content{
        flex-wrap: wrap;
        display: flex;           
    }
    .min-content .proudct1 , .min-content .proudct2, .min-content .proudct3{
        display: flex;
        gap: 10px;
    }
    .min-content .proudct1 .plus, .min-content .proudct2 .plus, .min-content .proudct3 .plus{
        display: flex;
        gap: 1px;
    }
    
}
   }
   @media (min-width:330px) and (max-width:449px){
    
    .signin{
        display: none;
    }
    .regt{
        display: none;
    }
    .min-content .proudct1 , .min-content .proudct2, .min-content .proudct3{
        display: flex;
        gap: 10px;

   }
   }
   @media (max-width:329px){
    .head{
        display: flex;
        gap: 2px;
        justify-content: left;
        padding: 0;
        margin-left: 0;
        
    }
    .signin{
        display: none;
    }
    .regt{
        display: none;
    }
    .min-content .proudct1 , .min-content .proudct2, .min-content .proudct3{
        display: flex;
        gap: 2px;
   }
}